<footer class="bg-light text-dark pt-2 pb-2">
  <div class="container text-md-left">
    <!-- Bottom Footer -->
    <div class="text-center">
      <div>© <span class="fw-bold"  style="color: #B8820A;">Copyright © 2025 Powered By </span></div>
      <hr class="my-3">
        <!-- <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-twitter"></i></a> -->
        <a href="#" class="btn btn-outline-dark btn-sm rounded-circle"><i class="bi bi-facebook"></i></a>
        <!-- <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-youtube"></i></a> -->
        <a href="#" class="btn btn-outline-dark btn-sm rounded-circle"><i class="bi bi-instagram"></i></a>
        <a href="#" class="btn btn-outline-dark btn-sm rounded-circle"><i class="bi bi-linkedin"></i></a>
    
    </div>
  </div>
</footer>