<%- include("partials/header") %>

 <div class="container mt-5">
    <h1>TurnKey_Installation</h1>
    <p>This is sample content to test scrolling.</p>
    <div style="height: 1500px;"></div>
  </div>

  <%- include('partials/footer') %>
  </body>
  </html>